<ul>
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <div class="icon">
          <i class="{{this.icon}}"></i>
        </div>
        <div class="content">
          <h3>{{this.name}}</h3>
          <span>{{this.date}}</span>
          <span>{{this.amount}}</span>
        </div>
      </div>

      <div class="col-auto">
        <button>edit</button>
        <button>delete</button>
      </div>
    </div>

  </li>
  {{/each}}
</ul>

<a href="./records/new">新增支出</a>